.about_container {
  .about_title {
    margin-top: 160px;
    margin-bottom: 50px;
    color: #fcd45c;
    font-size: 50px;
    text-align: center;
  }
  footer {
    background-color: #b6b5b5bb;
    ul {
      list-style: none;
    }
  }
}

.profile_box::after {
  content: "";
  clear: both;
  display: table;
}

// @media screen and (max-width: 690px) {
//   .profile_container {
//     width: 100%;
//     display: block;
//   }
// }
