.about_container {
  .about_title {
    color: #fcd45c;
    font-size: 5rem;
    text-align: center;
  }
  .profile_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  button {
    border-radius: 2%;
    border-style: none;
    background-color: #fcd45c;
    color: white;
    font-size: 25px;
    margin-top: 3%;
    margin-left: 50%;
    margin-bottom: 8%;
  }
  footer {
    background-color: #b6b5b5bb;
    ul {
      list-style: none;
      li {
      }
    }
  }
}
