$doriColor: #fcd45c;
$white: white;

.login-wrap {
  background-color: $doriColor;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;

  .login-page-box {
    width: 50%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-page {
    width: 320px;
    height: 568px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .login-bgBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .login-boxText {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    color: $white;
    font-size: 30px;
    margin-top: 90px;
  }
  .login-img {
    margin-top: 25%;
    margin-bottom: 20%;
    width: 30%;
    margin-top: 120px;
    margin-bottom: 120px;
  }
  .login-id {
    width: 60%;
    margin-bottom: 5%;
    font-size: 1rem;
    border-top: solid $white;
    border-left: solid $white;
    border-right: solid $white;
  }

  .login-pw {
    width: 60%;
    font-size: 1rem;
    border-top: solid $white;
    border-left: solid $white;
    border-right: solid $white;
  }
  .login-btn {
    border: 1px solid $doriColor;
    width: 40%;
    border-radius: 15px;
    font-size: 20px;
    background: $doriColor;
    color: $white;
    margin-top: 10%;
    cursor: pointer;
  }
  .login-btn:hover {
    opacity: 0.4;
  }
  .login-btnChange {
    border: 1px solid $doriColor;
    width: 40%;
    border-radius: 15px;
    font-size: 20px;
    background: $doriColor;
    color: $white;
    margin-top: 10%;
    cursor: pointer;
  }
  .login-checkbox-container {
    width: 78%;
    padding: 30px;

    .login-remember {
      font-size: 0.8rem;
    }
  }
  a {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .login_page_signup {
    border: 1px solid $doriColor;
    width: 40%;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: 20px;
    background: $doriColor;
    color: $white;
    margin-top: 10px;
    cursor: pointer;
  }
  .login_page_signup:hover {
    opacity: 0.4;
  }
  #kakao_login_btn {
    width: 40%;
    margin-bottom: 20px;
    font-size: 20px;
    background: white;
    color: $white;
    margin-top: -10px;

    cursor: pointer;
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .login-wrap {
    background-color: $doriColor;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100vh;
    .login-boxText {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      color: $white;
      font-size: 20px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 690px) {
  .login-wrap {
    background-color: white;
    display: block;
    height: 100vh;
    .login-page-box {
      width: 100%;
      background-color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .login-boxText {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      color: $white;
      font-size: 20px;
      margin-top: 50px;
    }
  }
}
@media (max-width: 360 px) {
  .login-wrap {
    background-color: white;
    width: 66%;
    .login-page {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}
