* {
  box-sizing: border-box;
}
div {
  background-color: yellow;
  width: 1000px;
  height: 1000px;
}
.backgroundMom {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.background {
  background-color: yellow;
  display: flex;
  flex-direction: column;
}
