.home_container {
  border: 2px solid #bdbdbd;

  .nav_bar {
    border: 2px solid #bdbdbd;
    div {
      img {
        border: 2px solid #bdbdbd;
      }
    }
  }
  .rolling_container {
    border: 2px solid #bdbdbd;
  }
  .home_recipe_wrapper {
    border: 2px solid #bdbdbd;
    .home_recipe_container {
      border: 2px solid #bdbdbd;

      div {
        border: 2px solid #bdbdbd;
      }
    }
  }
  .ad {
    border: 2px solid #bdbdbd;
  }
  .info_container {
    border: 2px solid #bdbdbd;
    h1 {
      border: 2px solid #bdbdbd;
    }
    .info_thumnail {
      border: 2px solid #bdbdbd;
    }
  }
}
