.home_container {
  .home_total_page_wrapper {
    margin-top: 188.36px;
    .title_line {
      margin-top: 80px;
      margin-bottom: 15px;

      h1 {
        border-bottom: 1.5px solid black;
        padding-bottom: 8px;
        font-weight: bold;
        font-size: 20px;
      }
    }
    .recipe_tap {
      .BRWrapper {
        display: grid;
        grid-template-columns: repeat(4, minmax(5rem, 1fr));
        grid-gap: 10px;
      }
    }
    .news_tap {
      margin-bottom: 100px;
    }
  }
}
