.recipe_page_total_wrap {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Serif KR", serif;

  .recipe_container {
    .food_name {
      border-bottom: 7px solid black;
      margin-top: 150px;
      width: 60%;

      h1 {
        font-size: 60px;
        margin-top: auto;
        text-align: left;
      }
    }
    .cooking_process_container {
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      .recipe_box {
        display: flex;
        grid-template-columns: 2fr 1fr;
        grid-gap: 50px;
        .food_ingredients_box {
          h1 {
            font-size: 30px;
            font-weight: 600;
          }
          h5 {
            margin-top: 10px;
          }
        }
        .cooking_process {
          h1 {
            font-size: 30px;
            font-weight: 600;
          }
          h3 {
            margin-top: 10px;
          }
        }
      }
      .recipe_img_wrapper {
        img {
          background-size: cover;
        }
      }
    }
  }
}
