.recipe_page_total_wrap {
  width: 100%;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Noto Serif KR", serif;

  .recipe_page_container {
    margin-top: 140px;
    .food_name {
      width: 40%;
      border-bottom: 4px solid black;
      h1 {
        font-weight: bold;
        font-size: 50px;
      }
    }
    .recipe_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      .cooking_process {
        display: grid;
        grid-template-rows: 1fr 2fr;
        margin-top: 20px;
        .ingredients_box {
          h1 {
            font-weight: bold;
            font-size: 25px;
          }
          h5 {
            margin-top: 10px;
          }
        }
        .recipe_box {
          h1 {
            font-weight: bold;
            font-size: 25px;
          }
          h5 {
            ul {
              list-style: none;
              li {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .foodie {
        img {
        }
      }
    }
  }
}
