$doriColor: #fcd45c;

.RecipeWrap {
  display: flex;
  justify-content: center;
}
.RecipeHome-tag {
  max-width: 1280px;
  margin-top: 130px;

  .RecipeButton {
    color: #000000;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    padding: 15px 10px;
    cursor: pointer;
    // background: #7b7b7b;
    border-top: 2px solid #bdbdbd;
    border-bottom: 2px solid #bdbdbd;
    //   p {
    //     border-right: 2px solid #bdbdbd;
    //     padding: 0 12px;
    //   }
    // }
    // .RecipeButton:last-child {
    //   p {
    //     border-right: 0;
    //   }
  }

  .RecipeHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tag_round {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // padding-top: 15px;
      // margin-top: 130px;
      margin-top: 100px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row-gap: 5px;

      .check_box {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        // border-bottom: 2px solid #bdbdbd;
        // border-top: 2px solid #bdbdbd;
      }
    }

    .design {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
      margin-top: 120px;
    }
  }
}
