$doriColor: #fcd45c;

.RecipeHome-tag {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;

  .RecipeHome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .tag_round {
      width: 85%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: $doriColor;
      padding-top: 15px;
      margin-top: 10%;
      .tag {
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        background-color: white;
      }
      .tag_menu1 {
        width: 90%;
        // border: 1px solid black;
        .tag_menu_color {
          font-size: 1.7rem;
          // border: 1px solid black;
          padding-top: 15px;
        }
        .check_box_warp {
          // border: 1px solid black;
          margin-bottom: 10px;

          .check_box {
            font-size: 1.3rem;

            .checkbox {
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      .tag_menu2 {
        width: 95%;
        .tag_menu_color {
          background-color: $doriColor;
          font-size: 2.5rem;
          text-align: center;
        }
        .check_box_warp {
          border: 1px solid #efeeee;
          width: 75%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;

          .check_box {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
    .Recipe_btn_wrap {
      width: 75%;
      display: flex;
      justify-content: flex-end;
      padding-top: 10px;
    }
    .Recipe_btn {
      width: 80px;
      height: 40px;
      border-radius: 10px;
    }
    .design {
      // border: 1px solid red;
      display: flex;
      flex-direction: column;
      .title_line {
        // margin-top: 5rem;
        margin-bottom: 2%;
        margin-top: 2%;
        margin-left: 100px;
        // h1 {
        //   border-bottom: 0.1rem solid black;
        // }
      }
      .recipe_tap {
        width: 85%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
      }
    }
  }
}

.dateBox {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}
