.news_page_total_wrap {
  width: 100%;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  .news_page_container {
    margin-top: 140px;
    .news_name {
      width: 100%;
      border-bottom: 4px solid black;
      h1 {
        font-weight: bold;
        font-size: 50px;
      }
    }
    .news_container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-top: 50px;
      .news_process {
        .ingredients_box {
          h1 {
            font-weight: bold;
            font-size: 25px;
          }
          h5 {
            margin-top: 10px;
          }
        }
        .news_box {
          h1 {
            font-weight: bold;
            font-size: 25px;
          }
          h5 {
            ul {
              li {
                margin-top: 10px;
              }
            }
          }
        }
      }
      .newsie {
        img {
          width: 100%;
          padding-left: 20px;
        }
      }
    }
  }
  .comment_title {
    margin-top: 100px;
    margin-bottom: 10px;
  }
  .comment_warp {
    width: 100%;
    height: 200px;
    .comment_input_box {
      height: 150px;
      width: 100%;
      resize: none;
      font-size: 1.2rem;
    }
    .btn_box_wrap {
      height: 30px;
      display: flex;
      justify-content: flex-end;
      .btn_box {
        height: 100%;
        width: 70px;
        border-radius: 10px;
        font-size: 1rem;
        margin-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .news_page_total_wrap {
    width: 100%;
    max-width: 590px;
    margin-left: auto;
    margin-right: auto;
  }
  .newsie {
    display: inline-flex;
  }
}

@media screen and (max-width: 690px) {
  .news_page_total_wrap {
    margin-left: 15px;
    margin-right: 15px;
    .news_page_container {
      .news_container {
        margin-left: 15px;
        margin-right: 15px;
        display: inline;
        .newsie {
          margin-top: 30px;
        }
      }
    }
  }
}
