.review_Item {
  border-top: 1px solid #dbdbdb;
  margin-bottom: 20px;
}

.review_Item_TextWrap_Box {
  display: flex;
  justify-content: flex-end;
}
.review_Item_TextWrap {
  justify-content: flex-end;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.8rem;
}
.review_Item_UserInfoWrap {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.review_Item_ReviewTex_Box {
  display: flex;
  justify-content: flex-end;
}
.review_Item_ReviewText {
  padding-top: 10px;
  padding-bottom: 10px;
}
