.info_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin-top: 30px;

  .info_title {
    background-color: white;
    border-top: 0.5px solid #bdbdbd;
    h3 {
      color: orange;
      font-size: 18px;
      font-weight: bold;
      text-align: left;
      margin-top: 20px;
    }

    h1 {
      font-size: 30px;
      font-weight: 600;
      overflow: hidden;
      margin-top: 10px;
    }
    h2 {
      color: #625d5d;
      margin-top: 5px;
      font-size: 15px;
      overflow: hidden;
      margin-top: 20px;
    }
  }
  .info_content {
    img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      height: 250px;
    }
  }
}
