$white: white;

.smart_input_container {
  .smart_input {
    width: 100%;
    margin-bottom: 10px;
    font-size: 20px;
    border-top: solid white;
    border-left: solid white;
    border-right: solid white;
    padding: 5px 10px 5px 10px;
  }
}
